.viwer-container {
    display: flex;

    .viwer-item {
        width: 50px;
        display: grid;
        place-items: center;
        border: 1px solid black;
        box-sizing: border-box;

        &.pivot {
            background: red;
        }

        &.edge {
            background: yellow;
        }

        &.swap {
            background: green;
        }
    }
}