<div class="viwer-container">
    <div class="viwer-item pm-background"
        *ngFor="let item of sortingArray; let i = index"
        [ngClass]="{
            swap: i === swapLeft || i === swapRight
        }"
        [ngStyle]="{'height.px': item * 10}"
    >
        {{ item }}
    </div>
    <mat-form-field appearance="fill">
        <mat-label>Sorting Type</mat-label>
        <mat-select [(value)]="sortingType">
          <mat-option>None</mat-option>
          <mat-option value="Quicksort">Quicksort</mat-option>
        </mat-select>
      </mat-form-field>
</div>